body{
    background-color:#f5f5f5;
}


.btn-register{
    color: white;
    text-decoration: none;
}

.btn-login{
    color: white;
    text-decoration: none;
}

.expensor{
    color: white;
    text-decoration: none;
}